.root {
  font-family: sans-serif;
}
.form-container {
  opacity: 0.9;
  height: 80vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  flex-direction: column;
}

input,
label {
  display: block;
}

form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 100%;
  width: 100%;
  flex: 1;
  border-radius: 3%;
}

input:not([type="submit"]) {
  background-color: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  margin: 2px;
  height: 50px;
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 5px;
}

.button button {
  height: 100%;
  cursor: pointer;
  margin: 3px;
}

.back-button {
  margin: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.text {
  text-align: center;
}
input[type="submit"] {
  height: 100%;
  cursor: pointer;
}

::placeholder {
  color: #212529bf;
}

.form-control::placeholder {
  color: #212529bf;
}

.field {
  padding: 5px;
}

.select {
  padding: 3px;
}

.form-group {
  margin: 10px;
}

.bottom {
  padding-bottom: 30px;
}

.grey-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard {
  height: 70%;
  width: 50%;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag {
  height: 100%;
  width: 25vw;
  margin: 0.5vw;
}

.form-control {
  margin: 10px;
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
}

textarea.form-control {
  background: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  height: 11vh;
  width: 25vw;
}

.logo {
  height: auto;
  max-width: 100%;
}
